/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
}

.hlavicka {
	width: 250px;
}

.foto {
width: 100%;
}

.logo {
	background-color: #b92e81;
	border-radius: 50%;
	position: absolute;
	right: 20px;
	top: 140px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: white;
}

a {
	text-decoration: none;
	color: whitesmoke;
	border-top: 1px solid whitesmoke;
	border-spacing: 0;
}

.profil {
	width: 250px;
	position: relative;
	background-color: #31363b;
	color: whitesmoke;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	box-shadow: 2px 2px 20px gray;
}

.obsah {
	padding: 20px;
}

.portfolio {
	text-transform: uppercase;
	display: inline-block;
}

/*.portfolio a {
	width: 100%;
	padding: 0;
}*/

.facebook,
.twitter {
	text-transform: uppercase;
	display: inline-block;
}

ul {
	padding: 0%;
}

.odkazy {
	border-spacing: 0;
}